/* ==== VARIABLES ======= */
:root {
  --secondary-color: hsl(0, 0%, 0%);
  --primary-color: hsl(0, 0%, 7%);
  --darkred: hsl(356, 81%, 34%);
  --lightred: hsl(0, 84%, 70%);
  --hover-color: hsl(0, 0%, 15%);
  --grey-text: hsl(0, 0%, 16%);
}

/* ======== PAGE STYLING ============= */

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding: 85px 0 0;
}

body {
  min-width: 320px;
  font-size: 1.6rem;
  font-family: 'Noto Sans', sans-serif;
  background: white;
  color: var(--primary-color);
}

#header { 
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 80px;
  width: 100%; 
  padding: 0 1em;

  background-color: var(--secondary-color);
  position: fixed;
  top: 0;
  left: 0;
}

/* The logo */
#header-img {
  width: 8rem; 
  align-self: center; 
}

/* container for the login button and navbar elements */
.reorder {
  display: flex;
  align-items: flex-end;
}

/* The login/register button */
.reorder>a {
  display: block;
  font-size: 1.8rem;
  font-weight: 500;
  margin-right: 1em;
}

/* navbar toggle button */
.fa-bars {
  font-size: 2rem;
  cursor: pointer;
  margin-left: .5em;
  color: white;
}

/* hide the checkbox */
input[type="checkbox"] {
  display: none;
}

.reorder ul {
  position: fixed;
  display: block;
  top: -100%;
  right: 0;

  padding-bottom: 1.2em;
  width: 100%;

  background-color: var(--secondary-color);
  list-style-type: none;

  transition: all .6s linear;
}

/* this helps to show the sidebar when the checkbox (fa-bars) is checked */
#checkbox:checked ~ nav ul {
  top: 80px;
}

#checkbox:checked ~ .menu-btn .fa-bars:before {
  content: "\f00d";
  font-size: 2.5rem;
}

a {
  text-decoration: none;
  color: white;
  display: block;
}

/* navbar links */
#header li a {
  margin: 0 1em;
  padding-left: 1em;
  line-height: 50px;
  font-weight: 500;
}

#header li a:hover {
  background-color: var(--hover-color);
  border-radius: 30px;
}

/* ===== MAIN SECTION ====== */
main {
  margin: 5em 0 2em;
}

/* reserve a vehicle element */
.reserve {
  padding: 2em 1em 0;
  background-color: var(--primary-color);
  color: white;
}

main h2 {
  margin-bottom: 1em;
  
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.4;

  color: var(--primary-color);
}

.reserve h2 {
  color: white;
}
h2>span {
  display: block;
  font-size: 1.4rem;
}

/* ENTER LOCATION INPUT */
#location {
  width: 100%;
  margin-bottom: 1em;
  border: none;
  border-bottom: 1px solid white;
  border-radius: 5px;

  background-color: transparent;
  color: hsl(255, 100%, 95%);
}

/* TARGETING ALL INPUTS IN THE RESERVE A VEHICLE FORM EXCEPT THE SHOW OFFERS BUTTON */
.reserve-form input:not(.reserve-btn), .reserve-form select {
  margin: .5em 0 1.2em;
  padding-left: .3em;
  border-radius: 30px;
  border-bottom: 1px solid white;
  
  min-height: 30px;
  outline: none;
  /* text-align: center; */

  background-color: var(--primary-color);
  color: hsl(255, 100%, 95%);
}


/* PICKUP DATE AND TIME, RETURN DATE AND TIME WRAPPERS */
.pickup-date, .return-date {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 2em;
}

/* ALIGNING THE LABEL AND INPUT FOR PICKUP/RETURN DATE AND TIME VERTICALLY */
.pickup-date div, .return-date div {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* .RESERVE-BTN WRAPPER */
.btn-wrapper {
  display: flex;
  place-items: center;
}

/* SHOW OFFERS BUTTON */
.reserve-btn {
  margin-bottom: 4em;
  margin: 1em auto 4em;
  padding: .6em 1em;
  border: none;
  border-radius: 30px;

  text-align: center;
  font-weight: 600;

  background-color: var(--darkred);
  color: inherit;

  transition: all .1s linear;
} 

/* included the buttons in the #why-us, #resources and #our-vehicle sections */
.reserve-btn:hover, .over50 button[type="submit"]:hover,
#resources a:hover,
#our-vehicles a:hover, #submit:hover {
  cursor: pointer;
  transform: scale(1.05);
  opacity: .7;
}


/* STYLING FOR THE WHY US SECTION STARTS */
#why-us {
  padding: 1em 1em 0;
  margin-bottom: 3em;
  background-color: white;
  color: var(--grey-text);
}

#video {
  width: 100%;
  aspect-ratio: 16 / 9;
  margin-bottom: 1.5em;
}

#why-us h1 {
  margin-bottom: .8em;
  
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;

  color: var(--darkred);
}

#why-us p {
  font-size: 1.8rem;
}

.over50 {
  background-color: var(--secondary-color);
  color: white;
  margin: 0 -1em;
  padding: 3.5em 2em;
}

.over50 h2 {
  margin-bottom: .5em;
  line-height: 1.2;
  font-size: 2rem;
  color: var(--lightred);
}

.over50 form {
  display: flex;
  padding-bottom: 1em;
}

/* SEARCH BUTTON WITH THE ICON */
.over50 button[type="submit"] {
  display: flex;
  padding: .1em .5em;
  border: none;
  outline: none;

  font-size: 2rem;
  color: var(--lightred);
  background-color: transparent;

  transition: all .1s linear;
}

#location-search {
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--lightred);
  padding: 0 .2em .2em;

  background-color: black;
  color: white;
  outline: none; 
}

#our-vehicles {
  background-color: white;
  color: var(--secondary-color);
  margin: 0 1em;
}

#our-vehicles div {
  width: 100%;
}

#our-vehicles img {
  width: 100%;
}

.car-name {
  display: flex;
  justify-content: center;
}

#our-vehicles  a {
  padding: .5em 1.5em;
  margin-top: -20px;
  margin-bottom: 2em;
  border-radius: 30px;

  text-align: center;
  font-weight: 600;
  font-size: 1.8rem;

  color: white;
  background-color: var(--darkred);
  box-shadow: 0 1px 3px hsla(0, 0%, 0%, .5);

  transition: all .3s linear;
}

hr {
  opacity: .2;
  /* margin: 0 1em; */
  border: 1px solid grey;
}

/* ==== RESOURCES SECTION ===== */
#resources {
  text-align: center;
  margin-top: 2em;
}

#resources img {
  margin-bottom: 1em;
}

#resources div:not(.ios-android, .resources-form) {
  margin: 0 1em 1.5em;
  box-shadow: 0 2px 6px hsla(0, 0%, 0%, .4);
}

#resources div p {
  margin: 0 1em;
}

#resources div p:nth-of-type(1) {
  font-size: 2rem;
  font-weight: 600;
  color: var(--darkred);
  margin-bottom: 1em;
}

#resources a {
  display: inline-block;

  border-radius: 30px;
  margin: 2em 0;
  padding: .5em 1.2em;

  font-weight: 500;
  
  color: white;
  background-color: var(--darkred);
  transition: all .1s linear;
}

.ios-android {
  display: flex;
  width: 100%;
  padding: 0 1.5em;
  gap: 1em;
  justify-content: space-between;
}

.ios-android a {
  width: 100%;
  font-size: 1.4rem;
}

.fa-android, .fa-apple {
  margin-right: .5em;
  font-size: 1.8rem;
}

.resources-form {
  padding: 1em 0 2em;
  margin: 0 1em;
}

#resources form {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  gap: 1em;
}

#resources input {
  display: inline-block;
}

#resources input:not(#submit) {
  width: 100%;
  border: 1px solid var(--primary-color);
  border-radius: 30px;
  padding-left: .7em;
  outline: none;
}

#submit {
  padding: .3em 1em;
  display: inline-block;

  border-radius: 30px;
  border: none;

  font-weight: 500;
  
  color: white;
  background-color: var(--darkred);
  transition: all .1s linear;
}

footer {
  background-color: var(--secondary-color);
  color: white;
  padding: 1.5em;
  text-align: center;
  margin-bottom: 0;
}

.social-media {
  text-align: center;
  font-size: 2rem;
}

.social-media a {
  display: inline-block;
  margin-left: .5em;
  margin-bottom: 1.5em;
  transition: all .2s linear;
}

.social-media a:hover {
  color: var(--lightred);
}

.nav-one, .nav-two {
  display: flex;
  gap: 2em;
  justify-content: center;
  font-size: 1.3rem;
  line-height: 20px;
}

.nav-one a, .nav-two a {
  color: var(--lightred);
}

.nav-one a:hover,
.nav-two a:hover {
  opacity: .8;
}

#copyright {
  margin-top: 1em;
  font-size: 1.4rem;
  opacity: .5;
}


/* ====== MEDIA QUERIES */
@media (min-width: 800px) {

  #header {
      display: flex;
      /* grid-template-columns: 30% 40% 30%;
      justify-items: start; */
  
      width: 100%;
      padding: 0 1em;

      background-color: var(--secondary-color);
      position: fixed;
      top: o;
      left: 0;
    }

/* container for the login button and navbar elements */
  .reorder {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 1.5em;
  }

/* The login/register button */
  .reorder>a {
    margin: 0;
    padding: .3em .8em;
    border-radius: 30px;
    font-size: 1.6rem;

    background-color: var(--darkred);
  }


    #header ul {
      position: static;
      display: flex;   
      padding-bottom: 0;
  
      background-color: initial; 
    }

    .menu-btn {
      display: none;
    }

/* navbar links */
    #header li a {
      margin: 0;
      padding: 0 1em;
      line-height: 35px;
      transition: all .2s linear;
    }

    #header li a:hover {
      background-color: var(--lightred);
      border-radius: 30px;
      color: var(--secondary-color);
    }

/* ===== MAIN SECTION ====== */
}
