/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}



/* ======== MAIN STYLING ============= */

html {
    font-size: 62.5%;
}

body {
  background: black;
  color: white;
  font-size: 1.6rem;
}

#header {  
  padding: 0 1em;

  background-color: hsl(0, 0%, 10%);
  /* position: fixed;
  top: 0;
  left: 0; */
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 80px;
}

/* The logo */
#header-img {
  width: 8rem; 
  align-self: center; 
}

/* The login/register button */
.header-wrapper>a {
  display: block;
  font-size: 1.8rem;
  font-weight: 500;
  margin-left: 80px;
}

/* navbar toggle button */
.fa-bars {
  font-size: 2rem;
  margin: 0;
  cursor: pointer;
}

input[type="checkbox"] {
  /* display: none; */
}

#header ul {
  position: fixed;
  display: block;
  top: 80px;
  right: 100%;

  height: 100vh;
  width: 50vw;

  background-color: hsl(0, 0%, 10%);
  list-style-type: none;
}

#checkbox:checked ~ ul {
  right: 0;
}

a {
  text-decoration: none;
  color: white;
  display: block;
}

/* navbar links */
#header li a {
  margin: 0 1em;
  padding-left: 1em;
  line-height: 50px;
  font-weight: 500;
}

#header li a:hover {
  background-color: hsl(0, 0%, 15%);
  border-radius: 10px;
}

main {
  margin-top: 2rem;
}


/* ====== MEDIA QUERIES */
@media (min-width: 800px) {
  #linktwo {
    display: block;
  }
}
